@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$background: #2a2c24;
$background-secondary: hsl(72, 9%, 32%);
$accent: #816c61;
$secondary: #a89b9d;
$primary: #cfcfea;
$text: white;
$text-secondary: rgba(white, 0.6);

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: $background;
}
