a:link,
:hover,
:visited,
:active {
  text-decoration: none;
}

.aero-title {
  text-align: center;
  background: -webkit-linear-gradient(#6bdfdb, #2278fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-container {
  width: 35%;
}

.or-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #5c5c5c;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.or-line span {
  background: #fff;
  padding: 0 5px;
}
