@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$background: #081721;
$primary: #44a9ed;
$secondary: #4192df;
$accent: #3e7bd1;

* {
  font-family: "Montserrat", sans-serif;
}
